@use "./breakpoints" as *;
@use "./colors" as *;

@mixin font-properties($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin page-header {
  @include font-properties(2.8rem, 3.6rem, 600);
}

@mixin subheader {
  @include font-properties(2rem, 2.8rem, 600);
}

@mixin label-link-button {
  @include font-properties(1.8rem, 2rem, 600);
}

@mixin table-header {
  @include font-properties(1.1rem, 1.6rem, 600);
  color: $lighthouse-purple;
  text-transform: uppercase;
}

@mixin body-large {
  @include font-properties(1.5rem, 2.6rem, 400);
}

@mixin body-medium {
  @include font-properties(1.3rem, 2.4rem, 400);
}

@mixin body-small {
  @include font-properties(1.1rem, 1.6rem, 400);
}

@mixin above-mobile-page-header {
  @include font-properties(3.2rem, 4rem, 600);
}

@mixin above-mobile-subheader {
  @include font-properties(2.4rem, 3.2rem, 600);
}

@mixin above-mobile-label-link-button {
  @include font-properties(1.8rem, 2.4rem, 600);
}

@mixin above-mobile-table-header {
  @include font-properties(1.2rem, 1.8rem, 600);
  color: $lighthouse-purple;
  text-transform: uppercase;
}

@mixin above-mobile-body-large {
  @include font-properties(1.6rem, 2.8rem, 400);
}

@mixin above-mobile-body-medium {
  @include font-properties(1.4rem, 2.2rem, 400);
}

@mixin above-mobile-body-small {
  @include font-properties(1.2rem, 1.8rem, 400);
}
