@use "./mixins" as *;
@use "./breakpoints" as *;
@use "./colors" as *;

@font-face {
  font-family: "Asap";
  src: url("../../assets/font/Asap-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 400 500 600 700;
  font-style: italic;
}

@font-face {
  font-family: "Asap";
  src: url("../../assets/font/Asap-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 400 500 600 700;
}

$font-stack: "Asap", Verdana, sans-serif;

body {
  font-family: $font-stack;
  color: $lighthouse-dark-blue;
}

h1 {
  @include page-header;

  @include aboveMobile {
    @include above-mobile-page-header;
  }
}

h2 {
  @include subheader;

  @include aboveMobile {
    @include above-mobile-subheader;
  }
}

h3,
label,
a,
button {
  @include label-link-button;

  @include aboveMobile {
    @include above-mobile-label-link-button;
  }
}

h4 {
  @include table-header;

  @include aboveMobile {
    @include above-mobile-table-header;
  }
}

p,
input {
  font-family: $font-stack;
  @include body-medium;

  @include aboveMobile {
    @include above-mobile-body-medium;
  }
}
