@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;

.home {
  font-size: 2.4rem;
  &__hero-container {
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    position: relative;
  }

  &__hero-image-container {
    width: 100%;
    // height: 40%;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;

    // background-image: url("../../assets/images/lighthouseHero.jpg");
    display: flex;
    // align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    max-height: 70vh;
  }

  &__hero-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__availability-radio-container {
    display: flex;
    flex-direction: column;
  }
  &__radio-button {
    margin-top: 1.6rem;
    margin-right: 0.8rem;
  }

  &__radio-button:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid $lighthouse-purple;
  }
  &__radio-button:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $lighthouse-purple;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid $lighthouse-purple;
  }

  &__radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  // &__hero-image {
  //   width: 100%;
  // }

  // &__lighthouse-animation {
  //   width: 300px;
  //   display: none;
  // }

  &__dropdown-input {
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    height: 4rem;
    width: 5rem;
    font-size: 1.6rem;
  }
  &__dropdown-container {
    display: flex;
    flex-direction: row;
    margin-top: 1.6rem;
    align-items: center;
  }
  &__current-location-button {
    // border-radius: 1rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: white;
    border: none;
    background-color: $lighthouse-purple;
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
    width: 20rem;
    // border: solid 2px $lighthouse-purple;

    &:hover {
      cursor: pointer;

      @include aboveMobile {
        background-color: $lighthouse-dark-blue;
      }
    }
  }
  &__form-text--current-location {
    font-size: 1.2rem;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    color: grey;
    // margin-left: 2rem;
    // border-radius: 1rem;
  }

  &__current-location-container {
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    border-radius: 5rem;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    margin-top: 2.4rem;
  }
  &__current-location-input {
    border: none;
    // margin-left: 2rem;
    width: 15rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding: 1.6rem;
    font-size: 1.6rem;

    @include aboveMobile {
      width: 100%;
    }
  }

  &__submit-button {
    background-color: $lighthouse-dark-blue;
    border: none;
    padding: 1rem;
    display: block;
    margin: 1.6rem 0;
    color: white;
    width: 100%;
    border-radius: 0.5rem;

    &:hover {
      cursor: pointer;
      @include aboveMobile {
        background-color: $lighthouse-dark-blue;
      }
    }
  }

  // &__hero-text-container {
  //   background-color: rgba(40, 18, 81, 0.5);
  //   display: flex;
  //   flex-direction: row;
  //   text-align: center;
  //   // padding: 20px 10px;
  //   // background-color: #8888ff;
  //   // margin: 20px;
  //   color: #281251;

  //   height: 100%;
  //   width: 30%;
  //   margin-top: 200px;
  //   // margin-right: 75px;
  //   border-radius: 15px;

  //   // background-color: purple;
  // }

  &__main-header {
    font-weight: 700;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
  }

  &__main-container {
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 0.8rem;
    margin: 1.6rem;
    position: relative;
    top: -6rem;
    height: fit-content;
    border: solid 1px lightgray;
    // box-shadow: 0px 2px 5px 0px #13182c1a;
    z-index: 1;
    background-color: white;
    padding: 1.6rem;

    @include tablet {
      margin: 3.2rem;
    }
    @include desktop {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__availability-container {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }

  &__availability-list {
    margin-left: 2.4rem;
  }

  &__no-error {
    display: none;
  }

  &__show-error-message {
    color: red;
    font-size: 1.6rem;
  }

  &__availability-list-item {
    margin: 0.8rem 0 0.8rem 0;
  }

  &__form-input-label {
    margin-top: 2.4rem;
    display: block;
    margin-bottom: 1.6rem;
    // background-color: red;
  }

  &__availability-row {
    display: flex;
    flex-direction: row;
  }
  // &__checkbox {
  //   // appearance: none;
  //   // background-color: #fff;
  //   // margin: 0;
  //   // font: inherit;
  //   // color: currentColor;
  //   // width: 1.15em;
  //   // height: 1.15em;
  //   // border: 0.15em solid currentColor;
  //   // border-radius: 0.15em;
  //   // transform: translateY(-0.075em);
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;

  //   &::before {
  //     // content: "";
  //     // width: 0.65em;
  //     // height: 0.65em;
  //     // transform: scale(0);
  //     // transition: 120ms transform ease-in-out;
  //     // box-shadow: inset 1em 1em var(--form-control-color);
  //   }

  //   &:checked::before {
  //     // transform: scale(1);
  //   }
  // }

  &__availability-col {
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgrey;
  }

  &__availability-heading {
    background-color: $lighthouse-purple;
    color: white;
    padding: 0.5rem;
  }
}
