@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;

body {
  margin: 0%;
  padding: 0%;
}

.join {
  width: 100%;
  height: calc(100vh - 155px);
  background: $lighthouse-dark-blue;
  color: white;
  //   font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
  }

  &__icon {
    height: 5rem;
    margin-bottom: 1.6rem;
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px white;
  }

  &__input {
    width: 100%;
    height: 40px;
    margin: 7px;
    border: 2px solid $lighthouse-yellow;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  &__text {
    text-align: center;
    font-size: 2.4rem;
    margin: 1.4rem;
  }

  &__button {
    background-color: $lighthouse-yellow;
    width: 100%;
    height: 40px;
    margin: 7px;
    border: 2px solid $lighthouse-yellow;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
}
